<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2bFynES3w9XvnTnT-atxa4dD9NrwSa58</string>
	<key>GCM_SENDER_ID</key>
	<string>641463151095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skuix.minimalchatx</string>
	<key>PROJECT_ID</key>
	<string>minimalchatx</string>
	<key>STORAGE_BUCKET</key>
	<string>minimalchatx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641463151095:ios:d52b26ba309afd82fa26f2</string>
</dict>
</plist>